
:root{
  --main-radius:10px;
  --main-padding:10px;
}


.container {
width: 1280px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
display: grid;
height: 95vh;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 0.2fr 1.5fr 1fr 0.5fr;
grid-template-areas:
 "nav nav nav nav"
 "sidebar main main main"
 "sidebar content1 content2 content3"
 "sidebar footer footer footer";
 grid-gap: 0.4rem;
 font-family: "Inter", sans-serif;
 font-weight: 800;
 text-transform: uppercase;
 font-size: 12px;
 text-align: center;
}

nav{
  background-color: rgb(114, 225, 240);
  grid-area: nav;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}

main{
  background-color: rgb(114, 250, 230);
  grid-area:main;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);  
}


#sidebar{
  background-color: rgb(109, 194, 181);
  grid-area:sidebar;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}

#content1{
  background-color: rgb(109, 194, 120);
  grid-area:content1;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);  
}

#content2{
  background-color: rgb(61, 185, 179);
  grid-area:content2;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}

#content3{
  background-color: rgb(61, 100, 185);
  grid-area:content3;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}

Footer{
  background-color: rgb(189, 175, 55);
  grid-area:footer;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}


.card__image img {
  width: 100%;
}

.card__image {
  position: relative;
}


.icon1 {
  background: #00d054;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.icon1 i {
  color: white;
  font-size: 50px;
}

.icon2 {
  background: #00d054;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.icon2 i {
  color: white;
  font-size: 50px;
}

.icon3 {
  background: #00d054;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon3 i {
  color: white;
  font-size: 50px;
}



@media only screen and (max-width:450px) {
.container{
   
  margin-left: auto;
margin-right: auto;
grid-template-columns: 0.8fr;
  grid-template-rows: 1fr 1fr 3fr 2fr 2fr 1fr;
  grid-template-areas: 
  "nav"
  "sidebar"
  "main"
  "content1"
  "content2"
  "content3"
  "footer";  
}



/*
h1{
   margin-top: -0px;
  margin-right: 200px;
  font-size: 40px; 
  font-weight: 900;
}

p{
  font-size: 16px;
  line-height: 1.7;
  }

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


.box {
  float: left ; 
  width: 48%;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 1.5%;
  margin-right: 1.5%;
}

.contact {
  float: right; 
  padding: 24px;
  width: 48%;
  box-sizing: border-box;
}

.input-single input {
  font-size: 16px;
     background-color: #f3f3f3;
  color:grey;
  margin-top: 2%;
  margin-bottom: 2%;
  padding:10px;
  border-style: none;
  border-radius: 5px;
  width: 80%;
  }

  textarea {
    font-size: 16px;
   
    line-height: 1.5;
    background-color: #f3f3f3;
    color:grey;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:10px;
    border-style: none;
    border-radius: 5px;
    width: 80%;
    height: 200px;
  }

       /* input[type=submit] 
  
  .submit-button input {
  color: white;
  background-color: black;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  border-style: none;
   }


*/
